.Sidebar {
    height: 294px;
    border-radius: 8px;
    background: var(--gray-800);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .block-images-profile {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        .img-background {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            width: 100%;
            height: 72px;
            object-fit: cover;
        }

        .profile {
            position: absolute;
            bottom: -2rem;
            margin: 0 auto;
            background-color: var(--gray-900);
            border: 1px solid var(--blue-500);
            border-radius: 8px;
            padding: 0.15rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .info-profile {
        text-align: center;
        margin: 2rem 0 0;

        h6 {
            font-size: 1rem;
            color: var(--white);
            font-weight: 400;
        }

        span {
            font-size: 0.88rem;
            color: var(--gray-400);
        }
    }

    .block-end {
        border-top: 1px solid var(--gray-600);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .btn-edit-profile {
            margin: 1.5rem 2rem;
        }
    }
}